/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: AvenirNext, Avenir, 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	background-color: #eceef1;
	color: #fff;
	line-height: 1.8;
	font-size: 16px;
}

a {
	text-decoration: none;
}
.top {
	display: flex;
	flex-direction: row-reverse;
	height: 40px;
	padding: 10px 0;
	width: 97vw;
	margin: 0 auto;
}
.top p {
	color: #666;
	font-size: 10px;
}
.sign-in-button {
	font-size: 1.1em;
	border: 1px solid black;
	border-radius: 4px;
	height: 32px;
	padding: 0 20px;
	margin-left: 10px;
	background-color: #1777c5;
	color: #fff;
	font-size: 12px;
}

.sign-in-button div {
	padding-bottom: 7px;
}

#container {
	margin: 5px auto;
	max-width: 400px;
	padding: 20px;
}
